@media screen and (max-width:622px){
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        width: 300px;
    }

    .sinopse {
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .titulo-logo{
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
    }

    .filme-principal {
        background-position: right
    }
}